@keyframes Skeleton__bouncing {
  0% {
    left: 0;
    right: 0;
  }
  25% {
    left: 100%;
    right: 0;
  }
  50% {
    left: 0;
    right: 0;
  }
  75% {
    left: 0;
    right: 100%;
  }
  100% {
    left: 0;
    right: 0;
  }
}

.Skeleton {
  &__container {
    background-color: $field-01;
    position: relative;
    width: 100%;
    height: $space--medium;
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.125s ease;
    opacity: 0;
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
  &__moving-block {
    background-color: $field-02;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    animation-name: Skeleton__bouncing;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 5s;
  }
}