$border-radius--xsmall: 1px;
$border-radius--small: 2px;
$border-radius--medium: 4px;
$border-radius--mlarge: 8px;
$border-radius--large: 16px;
$border-radius--xlarge: 24px;
$border-radius--xxlarge: 32px;

$border-width--xsmall: 1px;
$border-width--small: 2px;
$border-width--medium: 4px;
$border-width--mlarge: 8px;
$border-width--large: 16px;
$border-width--xlarge: 24px;
$border-width--xxlarge: 32px;