$primary: #2ebf91;
$secondary: #8360c3;

$background-primary: linear-gradient(45deg, $secondary, $primary);

$field-01: #e9ffeb;
$field-02: #c5fbc9;

$text-01: #152935;
$text-02: #5a6872;
$text-03: #cdd1d4;
$text-inverse: white;

$danger: #e0182d;
$warging: #efc100;
$success: #5aa700;

$shadow-01: rgba(0, 0, 0, 0.1);

$dark: #383838;
$white: #ffffff;
