$font--xxxsmall: 0.25rem;
$font--xxsmall: 0.375rem;
$font--xsmall: 0.5rem;
$font--small: 0.75rem;
$font--smedium: 0.875rem;
$font--medium: 1rem;
$font--mlarge: 1.25rem;
$font--large: 1.5rem;
$font--xlarge: 2rem;
$font--xxlarge: 2.5rem;
$font--xxxlarge: 3rem;
