.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: $space--medium;
  background: $background-primary;
  &.loading {
    filter: blur(1px);
  }
  &__browser-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    .iframe--target-page {
      flex: 1;
      margin: $space--medium 0;
      border: none;
      border-radius: $border-radius--mlarge;
    }
  }
  &__interface-container {
    display: grid;
    grid-template-columns: 1fr $space--xxlarge * 2;
    grid-template-rows: repeat(3, 1fr);
    gap: $space--small;
    .input--output-folder {
      display: none;
    }
  }
  &__actions-container {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 100%;
    button {
      margin-right: $space--medium;
    }
    .skeleton--analyzing {
      width: auto;
      flex: 1;
      margin-right: $space--medium;
      height: $space--large;
    }
  }
  &__input-container {
    padding: 0 $space--small;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: $space--large;
    .label--meta-data {
      margin-right: $space--medium;
    }
    .input--meta-data {
      flex: 1;
      &[type="file"] {
        display: none;
      }
    }
  }
}
