@import "./scss/index.scss";

@font-face {
  font-family: AliPuHui;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: AliPuHui;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: AliPuHui;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: AliPuHui;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: AliPuHui;
  src: url("./assets/fonts/Alibaba-PuHuiTi-Heavy.otf") format("opentype");
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: $font--medium;
}

#lightnovel-crawler-root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: geometricPrecision;
  font-family: AliPuHui, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

@import "./components/Button/styles.scss";
@import "./components/Loading/styles.scss";
@import "./components/Message/styles.scss";
@import "./components/TextInput/styles.scss";
@import "./containers/Homepage/styles.scss";
@import "./containers/Messages/styles.scss";
